In [1]:
import json
import numpy as np
import pandas as pd

In [2]:
heroes = {
    25: 'shaman',
    326: 'hunter',
    390: 'warlock',
    494: 'mage',
    612: 'druid',
    754: 'rogue',
    798: 'priest',
    981: 'paladin',
    1235: 'warrior'
}

## Задание 1
Сделать таблицу матчапов 9х9 где по обоим осям названия героев а в ячейке i, j - процент побед(средний decision) героя i против героя j

In [3]:
data = []
with open('data/trainingData_JSON_chunk1.json') as fin:
    for record in map(json.loads, fin):
        data.append((
            record['player']['hero']['hero_card_id'], 
            record['opponent']['hero']['hero_card_id'],
            record['decision'],
        ))
        # Учтём антисимметрию: победы игрока = проигрыши оппонента и наоборот
        data.append((
            record['opponent']['hero']['hero_card_id'],
            record['player']['hero']['hero_card_id'],
            record['decision'] ^ 1,
        ))
games = pd.DataFrame(data, columns=('player1', 'player2', 'decision'))

In [4]:
games['player1'] = games['player1'].map(heroes)
games['player2'] = games['player2'].map(heroes)

In [5]:
games.head()

   player1  player2  decision
0  paladin   priest         1
1   priest  paladin         0
2    rogue    rogue         1
3    rogue    rogue         0
4    druid    druid         1

In [6]:
games.pivot_table('decision', 'player1', 'player2')

player2,druid,hunter,mage,paladin,priest,rogue,shaman,warlock,warrior
player1,,,,,,,,,
druid,0.500000,0.503007,0.496327,0.505086,0.498796,0.508860,0.496575,0.508699,0.514108
hunter,0.496993,0.500000,0.498834,0.496278,0.497046,0.505211,0.497600,0.487393,0.502598
mage,0.503673,0.501166,0.500000,0.499918,0.494756,0.502783,0.489098,0.497063,0.483212
paladin,0.494914,0.503722,0.500082,0.500000,0.519706,0.501785,0.497775,0.498354,0.518996
priest,0.501204,0.502954,0.505244,0.480294,0.500000,0.505109,0.502825,0.496903,0.490903
rogue,0.491140,0.494789,0.497217,0.498215,0.494891,0.500000,0.489657,0.499449,0.491418
shaman,0.503425,0.502400,0.510902,0.502225,0.497175,0.510343,0.500000,0.505697,0.515544
warlock,0.491301,0.512607,0.502937,0.501646,0.503097,0.500551,0.494303,0.500000,0.502785
warrior,0.485892,0.497402,0.516788,0.481004,0.509097,0.508582,0.484456,0.497215,0.500000

## Задание 2
По каждой уникальной карте сделать таблицу с полями:
name	poisonous	shield	stealth	taunt	turn	type	windfury	hero_name
Пример: https://snag.gy/2rFpbz.jpg

In [7]:
def process_card(card, turn, hero):
    def field_or_NaN(field):
        return card[field] if field in card else np.NaN
    return (
        field_or_NaN('name'),
        field_or_NaN('poisonous'),
        field_or_NaN('shield'),
        field_or_NaN('stealth'),
        field_or_NaN('taunt'),
        turn,
        # У сыгранных карт может быть тип только minion
        card['type'] if 'type' in card else 'MINION',
        field_or_NaN('windfury'),
        heroes[hero],
    )
data = set()
with open('data/trainingData_JSON_chunk1.json') as fin:
    for record in map(json.loads, fin):
        # Fixme: Played cards have no 'type' attribute
        for card in record['player']['hand'] + record['player']['played_cards']:
            data.add(process_card(card, record['turn'], record['player']['hero']['hero_card_id']))
        for card in record['opponent']['played_cards']:
            data.add(process_card(card, record['turn'], record['opponent']['hero']['hero_card_id']))
cards = pd.DataFrame(data, columns=('name', 'poisonous', 'shield', 'stealth', 'taunt', 'turn', 'type', 'windfury', 'hero_name'))

In [8]:
cards.head()

,name,poisonous,shield,stealth,taunt,turn,type,windfury,hero_name
0,Gnomish Inventor,False,False,False,False,27,MINION,False,priest
1,Chillwind Yeti,False,False,False,False,5,MINION,False,paladin
2,Chillwind Yeti,False,False,False,True,5,MINION,False,rogue
3,Frog,False,False,False,True,12,MINION,False,warrior
4,Acidic Swamp Ooze,False,False,False,False,22,MINION,False,hunter

In [9]:
# turn не обязательно -- это номер хода 
cards = cards.drop_duplicates(
    ('name', 'poisonous', 'shield', 'stealth', 'taunt', 'type', 'windfury', 'hero_name'))

In [10]:
cards.head()

,name,poisonous,shield,stealth,taunt,turn,type,windfury,hero_name
0,Gnomish Inventor,False,False,False,False,27,MINION,False,priest
1,Chillwind Yeti,False,False,False,False,5,MINION,False,paladin
2,Chillwind Yeti,False,False,False,True,5,MINION,False,rogue
3,Frog,False,False,False,True,12,MINION,False,warrior
4,Acidic Swamp Ooze,False,False,False,False,22,MINION,False,hunter

## Задание 3
Посчитать средний винрейт(средний decision) по каждой карте (среди колод, где данная карта присутствует)

In [11]:
cards_winrate = dict((card, [0, 0]) for card in cards['name'].unique())
with open('data/trainingData_JSON_chunk1.json') as fin:
    for record in map(json.loads, fin):
        for card in record['player']['hand'] + record['player']['played_cards']:
            cards_winrate[card['name']][0] += 1
            cards_winrate[card['name']][1] += record['decision']
        for card in record['opponent']['played_cards']:
            cards_winrate[card['name']][0] += 1
            cards_winrate[card['name']][1] += record['decision'] ^ 1

In [12]:
for name in cards_winrate:
    cards_winrate[name] = cards_winrate[name][1] / cards_winrate[name][0]

In [13]:
cards_winrate

{'Gnomish Inventor': 0.5438387106755604,
 'Chillwind Yeti': 0.5604228371802287,
 'Frog': 0.5524358372981304,
 'Acidic Swamp Ooze': 0.5474572601338745,
 'Bloodfen Raptor': 0.5438082373680716,
 'Murloc Tidehunter': 0.5520228045170485,
 'Silver Hand Recruit': 0.5944298245614035,
 'Wild Growth': 0.49690377897745314,
 'Shattered Sun Cleric': 0.547186456173837,
 'Truesilver Champion': 0.4650992634505634,
 'Sheep': 0.6025688073394495,
 'Boar': 0.5815162809382463,
 'Hellfire': 0.4918275588468659,
 'River Crocolisk': 0.5490901581898278,
 'Frostwolf Warlord': 0.5612045490949864,
 'Fire Elemental': 0.5691359365665563,
 'Flametongue Totem': 0.5146261922860015,
 'Bloodlust': 0.46059684774781984,
 'Healing Totem': 0.5775956544527565,
 'Boulderfist Ogre': 0.5612510702802259,
 'Darkscale Healer': 0.5641767659002974,
 'Kobold Geomancer': 0.5350133341323825,
 'Claw': 0.4831876260928043,
 'Swipe': 0.5100305456947082,
 'Mortal Coil': 0.45874451754385964,
 'Consecration': 0.4884387447780045,
 'Ironbark Protector': 0.5547160845806605,
 'Stormwind Champion': 0.5714963450263498,
 'Murloc Scout': 0.5951280227596017,
 'Frostbolt': 0.4460301837270341,
 'Power Word: Shield': 0.47333848531684697,
 'Arcane Shot': 0.46728650137741046,
 'Gurubashi Berserker': 0.5633990625505091,
 'Razorfen Hunter': 0.543603847704834,
 'Shiv': 0.4587280108254398,
 'Starfire': 0.44977462974887317,
 'Fan of Knives': 0.48122238586156113,
 "Sen'jin Shieldmasta": 0.5581136476076047,
 'Soulfire': 0.44753086419753085,
 'Animal Companion': 0.5027918993249437,
 'Wrath of Air Totem': 0.5595730675192778,
 'Dread Infernal': 0.5462443234705102,
 'Shadow Word: Death': 0.4869740874895514,
 'Water Elemental': 0.55988763807633,
 'Shield Block': 0.5121017535193875,
 'Elven Archer': 0.5560500461835587,
 'Execute': 0.551944147514698,
 'Multi-Shot': 0.5276062477297494,
 'Blessing of Kings': 0.4224879207272132,
 'Deadly Poison': 0.473080233336521,
 'Fiery War Axe': 0.4741704234720272,
 'Hex': 0.4473684210526316,
 'Searing Totem': 0.5845710165825523,
 'Holy Nova': 0.5131190113727948,
 'Ironfur Grizzly': 0.5444259241102068,
 'Arcane Intellect': 0.48300395256916995,
 'Stonetusk Boar': 0.5720643615200274,
 'Mark of the Wild': 0.4434791393070007,
 'Kill Command': 0.4548823420418751,
 'Archmage': 0.5540420730232933,
 'Tracking': 0.48465316144874154,
 'Leokk': 0.5741289844329133,
 'Fireball': 0.40175281346479436,
 'Innervate': 0.5109123976962716,
 'Arcanite Reaper': 0.49056758194541067,
 'Huffer': 0.5907545887151597,
 'Backstab': 0.4556220393916729,
 'Rockbiter Weapon': 0.4582366589327146,
 'Stormpike Commando': 0.5454347035285558,
 'Misha': 0.6534859521331946,
 'Guardian of Kings': 0.5513915890719329,
 'Shadow Word: Pain': 0.5028571428571429,
 'Cleave': 0.536834228964016,
 'Holy Smite': 0.4756784434203789,
 'Flamestrike': 0.47741896686511515,
 "Assassin's Blade": 0.47157442640244135,
 'Hammer of Wrath': 0.44714017815283635,
 'Oasis Snapjaw': 0.5766784015811253,
 'Polymorph': 0.43738845925044617,
 'Excess Mana': 0.545790934320074,
 "Hunter's Mark": 0.46510216467732146,
 'Voodoo Doctor': 0.5660430572529849,
 'Stoneclaw Totem': 0.5951596044062073,
 "Kor'kron Elite": 0.5533052120651797,
 'Houndmaster': 0.5367694960720445,
 'Divine Spirit': 0.45945345478782496,
 'Assassinate': 0.5187137585661571,
 'Sprint': 0.476605814739689,
 'Shadow Bolt': 0.46543051582996353,
 'Mind Blast': 0.5070121951219512}